#toolBox {
  background-color:White;
  position: absolute;
  right:0;top:0;height:100%;width:300px;
}
#toolbox .note {
  padding:5px;
  background-color:pink;
}
#screen {
  position:absolute;
  left:300px;top:0;height:100%;right:0;
}
textarea {
  min-height:200px;
  min-width:300px;
}

